.advantages {
    min-height: 473px;
    padding: 73px 0 65px 0;
    &__header {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__icons {
        width: 950px;
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 285px;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }    
    }
    &__subheader {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        span {
            text-decoration: underline;
            color: #ff0000;
        }
    }
}